<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;500&display=swap" rel="stylesheet">
<div class="about-me" @fadeIn>
    <div class="card mb-3" style="max-width: 1150px; box-shadow: 0px 3px 10px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/my-profile.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" style="margin-left: 30px;">
                <br> 
              <b><h5 class="card-title" style="font-size: 3em;">About Me</h5></b>
              <i><p class="card-text" style="font-size: 1.5em;">Primary Information</p></i><br>
              <p class="card-text" style="font-size: 1.4em">Name: Nuguid Mark Raphael D <br>
                Course & Major: BSIT Major in Web Dev <br> 
                Section: WD-301 <br>
                Age: 21 <br>
                 Sex: Male <br>
                 Relationship Status: Taken <br>
                 Favorite Color: Red <br>
                 Hobbies: Playing games and watching animes/movies<br>
                </p>
            </div>
          </div>
        </div>
      </div>
</div>

