.header-h1{
    font-family: 'Zilla Slab', serif;
    font-size: 3em;
}
figure{
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: black;
    width: 1100px;
    text-align: center;
    border-radius: 5px;
    border-width: 0.8px;
    font-size: 1.3em;
    background-color: #161853;
    color: white;
}
.skillset{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    width: 1150px;
}
th{
    padding: 20px;
}
.progress:hover{
    transition: 0.3s;
}