.footer{
    margin-top: 190px;
    background-image: url("/assets/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 220px;
    color: white;
    font-family: 'Zilla Slab', serif;
    font-size: 1.3em;
}
.head{
    font-family: 'Zilla Slab', serif;
    color: white;
    font-size: 2em;
    margin-left: 50px;
    padding-top: 20px;
    display: flex;
}
.h-icon svg{
    margin-left: 20px;
    margin-bottom: 30px;
}
.icons a{
    text-decoration: none;
    color: white;
    size: 2em;
}
.socials{
    margin-right: 1300px;
}
.contact{
    display: flex;
    justify-content: space-between;
}
.contacts svg{
    margin-right: 20px;
}
.contacts{
    margin-left: 50px;
}
.socials svg{
    margin-right: 20px;
}
.ig{
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.ig:hover, .ig:focus, .ig:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.fb{
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.fb:hover, .fb:focus, .fb:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}