
<div class="portfolio" @fadeIn>
    <h1>My Portfolio</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="../assets/pf1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">The One with the Glasses</h4>
              <p class="card-text">This is my first ever digital art that I made for myself. Everything in here was trial and error, this experience was great</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/pf2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">The one with the Tattoo</h4>
              <p class="card-text">This piece is a portrait of myself with tattoo. I always pictured myself with tattoo, I also wanted to get a tattoo but due to various reasons I can't.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/pf3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">The one with Mordecai</h4>
              <p class="card-text">I made this art for my friend who was delighted on my works as a I start making digital art.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../assets/pf4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">The one with Jenny</h4>
              <p class="card-text">This piece is also for a friend of mine. We were friends since we were in grade 10 HS</p>
            </div>
          </div>
        </div>
      </div>
</div>