.portfolio h1{
    font-family: 'Zilla Slab', serif;
    font-size: 3em;
    text-align: center;
    margin-top: 150px;
}
.col{
    margin-top: 80px;
    font-family: 'Zilla Slab', serif;
}
.card-img-top{
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.card-img-top:hover, .card-img-top:focus, .card-img-top:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.card{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px gray;
    width: 480px;
    height: 610px
}
