.resume-head{
    font-family: 'Smooch', cursive;
    padding-bottom: 100px;
    padding-top: 45px;
    height: 170px;
    text-align: center;
    background-image: url("../assets/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 4.5em;
    margin-bottom: 100px;
}
.about{
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    
}
.skills{
    text-align: center;
    margin-top: 340px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 50px;
}
.portfolio{
    width: 1200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    width: 100%;
    
}
.navbar-nav{
    display: flex;
    margin-left: auto;
    font-family: 'Zilla Slab', serif;
    margin-right: auto;
    font-size: 1.2em;
    gap: 30px;
}